<!DOCTYPE html>
<html>
<head>
  <title>Ash's Olypmics</title>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Home", root_path %></li>
  </ul>

</header>

<h1>Ash's Olympics</h1>

  <div class="container">

    <%= yield %>

  </div>

</body>

</html>
