<h2>Administration - Add, edit or delete events</h1>

<h4>Here you can Add, Edit or Delete events. Click on an event to edit or delete it or press add to add a new event</h4>

<%= button_to "Add  an event", action = "new", :class => "button", :method => 'get' %>

<h2>Current Events List</h2>

<% if @events > 0 %>

  <% @events.each do |event|%>
    <h4>event.sport_title</h4>
  <% end %>

<% else %>
  <h4>There are no results for this sport!</h4>
<% end %>

<!-- t.string :sport_title
t.string :countryA
t.string :countryB
t.time :time
t.date :date
t.string :score
 -->
