<%# This page consumes the JSON API. %>
<%# User does a search and all relevant info for that sport is returned %>

<h1>Rio Olympics - Search for an event</h1>

<!-- Would Ajax be > Ruby? no rf? -->
  <%= form_tag '/event/index', method: 'get' do %>
    <label>Sport</label>
    <input type="text" name="sport_input" autofocus required>
    <button class ='button'>Search</button><BR />
  <% end %>

<%# Here needs to comsume the JSON and display %>

<%= button_to "Add or Edit events", admin_index_path, :class => "btn", :method => :get %>
<%# Such that CRUD functions are possible%>
